
*{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: rgb(86, 86, 229);
    font-size: 24px;
    position: fixed;
    height:60px;
    width:100%;
      
}
nav ul{
 list-style:none;

}

li{
    display: inline-block;
      font-size: 30px;
      padding: 10px;
}
a{
    color: white;
    text-decoration: none;
}
#contact{
    margin-left: 880px;
}
section{
    height:490px;
    width: 1000;;
    border:2px solid black;
    padding-top: 100px;
   background-image: url(https://sharkcoder.com/files/article/webp/main_nav_tricks.webp);
    background-repeat: no-repeat; 
    background-size:100vw 90vh;
}
p{
    padding-top: 400px;
    text-align:center;
    color: blanchedalmond;
}
p button{
    display:block;
    text-align: center;
    margin-left:40vw;
    font-size: 40px;
   border:2px solid green;
   text-decoration: none;
   cursor: pointer;
}
 div{
    height: 400px;
    width: 400px;
    border: 2px solid black;
    display: inline-block;
    margin-top: 10px;  
    
}
#sec{
    display: flex;
    justify-content: space-evenly;
}

#div3{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsjhHRDveNukGDRua9hEtE4-WjP-wMBX2Dag&usqp=CAU");
    background-repeat: no-repeat;
    background-size: 400px 400px;
 
}
#div3 div{
     margin: 0;
     padding:0;
     border:none;
    padding-top: 300px;
     color: aqua;
     height: 100px;
     width: 400px;
}


