#a1{
    display: flex;
    justify-content: center;
}
#a2{
    height:450px;
    width:900px;
    border:2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#a3{
    width:840px;
    height:390px;
    border: 2px solid black;
    background: linear-gradient(to bottom right,rgb(219, 33, 64),rgb(164, 26, 206));
    display: flex;
    justify-content: center;
    align-items: center;
}
#a4{
    height: 50px;
    width:70%;
    border: 2px solid white;
    border-radius: 15px;
}
li{
    display: inline-block;
    font-size: 20px;
    color: white;
}
ul{
    
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    
}
#lis{
    color: red;
    font-weight: 100px;
    
}